body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f8fafc;
  font-size:18px;
}

.app-wrapper{
  display:flex;
  min-height:100vh;
}

/* SIDEBAR */
.sidebar{
  width:240px;
  background:white;
  border-right:2px solid #e2e8f0;
  padding:20px;
}

.sidebar h2{
  font-size:22px;
  margin-bottom:20px;
}

.sidebar a{
  display:block;
  padding:14px;
  margin-bottom:8px;
  text-decoration:none;
  color:black;
  border-radius:8px;
  font-weight:bold;
  border:1px solid #e2e8f0;
}

.sidebar a.active{
  background:#2563eb;
  color:white;
}

.sidebar a.logout{
  background:#fee2e2;
  border-color:#dc2626;
}

/* CONTENT */
.main-content{
  flex:1;
  padding:20px;
}
